In [39]:
import pandas as pd
df = pd.read_csv('customer_shopping_behavior.csv')

In [40]:
#Print the first 5 data
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [42]:
# Summary statistics using .describe()
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [43]:
# Checking if missing data or null values are present in the dataset
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [44]:
# Imputing missing values in Review Rating column with the median rating of the product category
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [45]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [48]:
# Renaming columns according to snake casing for better readability and documentation
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df= df.rename(columns={'purchaseamount(usd)':'purchase_amount'})
df= df.rename(columns={'shippingtype':'shipping_type'})
df= df.rename(columns={'discountapplied':'discount_applied'})
df= df.rename(columns={'reviewrating':'review_rating'})
df= df.rename(columns={'subscriptionstatus':'subscription_status'})
df= df.rename(columns={'paymentmethod':'payment_method'})
df= df.rename(columns={'previouspurchases':'previous_purchases'})
df= df.rename(columns={'promocodeused':'promo_code_used'})
df= df.rename(columns={'frequencyofpurchases':'frequency_of_purchases'})

In [49]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [51]:
# create a new column age_group
labels = ['Young Adult','Adult','Middled-Aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [52]:
df[['age','age_group']].head(10)

   age     age_group
0   55  Middled-Aged
1   19   Young Adult
2   50  Middled-Aged
3   21   Young Adult
4   45  Middled-Aged
5   46  Middled-Aged
6   63        Senior
7   27   Young Adult
8   26   Young Adult
9   57  Middled-Aged

In [54]:
# create new column purchase_frequency_days
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [55]:
df['purchase_frequency_days'].head()

0     14
1     14
2      7
3      7
4    365
Name: purchase_frequency_days, dtype: int64

In [57]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [60]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [61]:
# Dropping promo code used column
df=df.drop('promo_code_used',axis=1)

In [63]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [64]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl (2.7 MB)
                                              0.0/2.7 MB ? eta -:--:--
                                              0.0/2.7 MB ? eta -:--:--
                                              0.0/2.7 MB 487.6 kB/s eta 0:00:06
     -                                        0.1/2.7 MB 558.5 kB/s eta 0:00:05
     -                                        0.1/2.7 MB 581.0 kB/s eta 0:00:05
     --                                       0.1/2.7 MB 853.3 kB/s eta 0:00:04
     ----                                     0.3/2.7 MB 1.1 MB/s eta 0:00:03
     -----                                    0.4/2.7 MB 1.3 MB/s eta 0:00:02
     ------                                   0.5/2.7 MB 1.5 MB/s eta 0:00:02
     ---------                                0.6/2.7 MB 1.6 MB/s eta 0:00:02
     ----------                               0.7/2.7 MB 1.6 MB/s eta 0:00:02
     ------------                             0.8/2.7 MB 1.7 MB/s eta 0:00:02
     ---------------                          1.1/2.7 MB 2.0 MB/s eta 0:00:01
     ------------------                       1.3/2.7 MB 2.2 MB/s eta 0:00:01
     ---------------------                    1.4/2.7 MB 2.4 MB/s eta 0:00:01
     ------------------------                 1.6/2.7 MB 2.6 MB/s eta 0:00:01
     ----------------------------             1.9/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ------------------------------           2.1/2.7 MB 2.9 MB/s eta 0:00:01
     ----------------------------------       2.3/2.7 MB 297.9 kB/s eta 0:00:02
     ---------------------------------------  2.7/2.7 MB 339.5 kB/s eta 0:00:01
     ---------------------------------------  2.7/2.7 MB 346.0 kB/s eta 0:00:01
     ---------------------------------------- 2.7/2.7 MB 343.3 kB/s eta 0:00:00
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl (2.1 MB)
                                              0.0/2.1 MB ? eta -:--:--
     -----                                    0.3/2.1 MB 8.9 MB/s eta 0:00:01
     ----------                               0.5/2.1 MB 6.8 MB/s eta 0:00:01
     -----------------                        0.9/2.1 MB 7.2 MB/s eta 0:00:01
     -------------------                      1.0/2.1 MB 7.3 MB/s eta 0:00:01
     -------------------                      1.0/2.1 MB 7.3 MB/s eta 0:00:01
     -------------------                      1.0/2.1 MB 7.3 MB/s eta 0:00:01
     ----------------------                   1.2/2.1 MB 3.8 MB/s eta 0:00:01
     -----------------------------            1.6/2.1 MB 4.3 MB/s eta 0:00:01
     -------------------------------------    2.0/2.1 MB 4.9 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 4.9 MB/s eta 0:00:00
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl (301 kB)
                                              0.0/301.2 kB ? eta -:--:--
     -------------------------------------- 301.2/301.2 kB 9.1 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sahup\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.14.0)
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.3.0 psycopg2-binary-2.9.11 sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [66]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\sahup\appdata\local\programs\python\python311\lib\site-packages (23.1.2)
Collecting pip
  Downloading pip-25.3-py3-none-any.whl (1.8 MB)
                                              0.0/1.8 MB ? eta -:--:--
                                              0.0/1.8 MB ? eta -:--:--
     -                                        0.1/1.8 MB 1.1 MB/s eta 0:00:02
     -----                                    0.2/1.8 MB 2.0 MB/s eta 0:00:01
     ---------                                0.4/1.8 MB 3.1 MB/s eta 0:00:01
     ----------------                         0.7/1.8 MB 3.8 MB/s eta 0:00:01
     ------------------------                 1.1/1.8 MB 4.3 MB/s eta 0:00:01
     --------------------------------         1.4/1.8 MB 4.8 MB/s eta 0:00:01
     ---------------------------------------  1.8/1.8 MB 5.1 MB/s eta 0:00:01
     ---------------------------------------  1.8/1.8 MB 5.1 MB/s eta 0:00:01
     ---------------------------------------  1.8/1.8 MB 5.1 MB/s eta 0:00:01
     ---------------------------------------- 1.8/1.8 MB 4.2 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.1.2
    Uninstalling pip-23.1.2:
      Successfully uninstalled pip-23.1.2
Successfully installed pip-25.3
Note: you may need to restart the kernel to use updated packages.

In [67]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual details
username = "postgres"      # default user
password = "PPoo0099" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "customer_behaviour"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_behaviour'.